body{
    background-image: url(netflix\ image.jpg);
    width: 100%;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0%;
    background-color:#000000;
    color: lightgray;
}
.navbar{
     display: flex;
    background-color: rgba(0, 0, 0, 0.814);
    height:100px;
    width: 1400px;
    
}
.logo{
background-image: url(Netflix_Logomark.png);
    width: 130px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100% 140%;
margin-left: 10px;
margin-top: 10px;
    color:red;
    font-size: 60px;

    border: 2x solid red;
    margin-left: 120px;
}
.react{
    border-radius: 15%;
    border: 2px solid white;
    height: 30px;
    width: 60px;
    display: flex;
    margin-left: 90px;
margin-top: 20px;
color: aliceblue;
font-weight: bold;
font-size: 2;
margin-left: 800px;
}
select[name="language"]{
    background-color: #000000;
    color:#ffffff;
    width: 20px;
    display: flex;
    justify-content: flex-end;
}
.input{
    display:flex;
    height:40px;
    width:80px;
    color: #ffffff;
    font-weight: bold;
    background-color: red;
    text-align: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 15px;
}
.kgf{
    display: flex;
flex-direction: column;
    height:500px;
    width:1400px;
    background-color: rgba(0, 0, 0, 0.814);
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;

}
.movie{
    display: flex;
    color: #ffffff;
    text-align: center;
    align-items: center;
    white-space: pre-line;
    font-size:70px;
    font-weight:1000px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     flex-direction: column;
}
.movie2{
   display: flex;
    color: #ffffff;
     flex-direction: column;
    text-align: center;
    align-items: center;
font-size:70px;
    font-weight:1000px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.movie3{
     display: flex;
     margin-top: 15px;
      flex-direction: column;
    color: #ffffff;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight:1000px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.movie4{
     display: flex;
     margin-top: 30px;
    color: #ffffff;
    text-align: center;
    align-items: center;
     flex-direction: column;
    font-size: 20px;
     font-family:Arial;
}

.kgf2{
display: flex;
}
.movie5{
    display: flex;
   font-size: 20px;
    height:50px;
    margin-top: 20px;
    color:white;
    width:380px;
     flex-direction: column;
    background-color: #00000071;
    
}
.movie6{
        display:flex;
         margin-top: 20px;
    height: 55px;
    width:100px;
    color: #ffffff;
    background-color: red;
    align-items: center;
    margin-right: 100px;
    font-size: 14px;
    font-weight: 700;
    

    
}
.movie7{
    display:flex;
    background-color:blueviolet;
    height:5px;
    width:1800px;

    z-index: 2;

    

}
.movie8{
background: linear-gradient(
    to top,
    rgba(43, 46, 226, 0.164),
    rgb(0, 0, 0)
);
background-color: #0b0614;

    height: 500px;
    width: 1400px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease;
}
.movie9{
    font-size: 20px;
     font-family:'Times New Roman';
padding-top: 10px;
    font-weight:bolder;

    margin-left: 10px;
    color: #ffffff;
}
.movies1{
    display: flex;
    flex-direction: row;
    font-size: 80px;
    color: #000000;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(sthings.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 200px;
    margin-left: 5px;
    margin-top: 100px;
    border-radius: 10%;
}
.movies2{
    display: flex;
    font-size: 80px;
    flex-direction: row;
    color: #000000;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(from.jpg);
    
    background-size: cover;
    height: 300px;
    width: 200px;
    margin-top: 100px;
    margin-left: 30px;
    border-radius: 10%;
    
}
.movies3{
    display: flex;
    font-size: 80px;
    flex-direction: row;
    color: #000000;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(kapil\ show.jpg);
    
    background-size: cover;
    height: 300px;
    width: 200px;
    margin-top: 100px;
    margin-left: 30px;
    border-radius: 10%;

}
.movies4{
    display: flex;
    font-size: 80px;
    flex-direction: row;
    color: #000000;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(bhay.jpg);
    
    background-size: cover;
    height: 300px;
    width: 200px;
    margin-top: 100px;
    margin-left: 30px;
    border-radius: 10%;
}
.arrowleft{
    display: flex;
align-items: center;
    height:300px;
    width:10px;
margin-top: 100px;
    cursor: pointer;
    justify-content: center;
    color: #ffffff;
    align-content: center;
    background-color:rgba(0, 0, 0, 0.226);



}
.arrowright{
     display: flex;
     justify-content: center;
    height:300px;
    align-items: center;
    color: #ffffff;
    align-content: center;
    background-color:rgba(0, 0, 0, 0.253);

    width:10px;
    margin-top:100px;
    cursor: pointer;


}
.movies5{
    display: flex;
    font-size: 80px;
    flex-direction: row;
    color: #000000;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(akhanda.avif);
    
    background-size: cover;
    height: 300px;
    width: 200px;
    margin-top: 100px;
    margin-left: 30px;
    border-radius: 10%;
}
.nav4{

    height: 500px;
    width: 1400px;
    padding-top: 30px;
    display: block;
    flex-direction: column;
    background: linear-gradient(
to top,
    rgba(43, 46, 226, 0.164),
    rgb(0, 0, 0)
);
background-color: #0b0614;


    
}
.movies6{
    color:white;
    margin-top: 30px;
    font-size: 30px;
    margin-left: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-direction: column;
}
.nav5{
    display: flex;
    flex-direction: row;
}
.movies7{
background: linear-gradient(
    180deg,
    #1a1f3c 0%,
    #160f23 50%,
    #0b0614 100%
    );
    height:280px;
    width:240px;
    border-radius: 10%;
    margin-left:60px;
     margin-top: 20px;
}
.movies8{
background: linear-gradient(
    180deg,
    #1a1f3c 0%,
    #160f23 50%,
    #0b0614 100%
    );
    height:280px;
    width:240px;
    border-radius: 10%;
    margin-left:30px;
     margin-top: 20px;
}
.movies9{
background: linear-gradient(
    180deg,
    #1a1f3c 0%,
    #160f23 50%,
    #0b0614 100%
    );
    height:280px;
    width:240px;
    border-radius: 10%;
    margin-left:30px;
     margin-top: 20px;
}
.movies10{
background: linear-gradient(
    180deg,
    #1a1f3c 0%,
    #160f23 50%,
    #0b0614 100%
    );
    height:280px;
    width:240px;
    border-radius: 10%;
    margin-left:30px;
     margin-top: 20px;
}
.tv{
    color: #ffffff;
    font-weight: bolder;
    margin-left: 20px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;

}
.tv1{
     color: rgba(255, 255, 255, 0.658);
    margin-left: 10px;
    font-size: 18px;
     font-family: Arial, Helvetica, sans-serif;

}
.tv2{
     background-image: url(icons8-tv-64.png);
     background-size:contain;
     background-repeat: no-repeat;
     margin-top:60px;
     margin-left: 170px;
     height: 50px;
     width: 70px;
}
.off{
    color: #ffffff;
    font-weight: bolder;
    margin-left: 20px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;

}
.off2{
     color: rgba(255, 255, 255, 0.658);
    margin-left: 10px;
    font-size: 18px;
     font-family: Arial, Helvetica, sans-serif;

}
.off3{
     background-image: url(icons8-download-100.png);
     background-size:contain;
     background-repeat: no-repeat;
     margin-top:35px;
     margin-left: 175px;
     height: 50px;
     width: 70px;

}
.watch{
    color: #ffffff;
    font-weight: bolder;
    margin-left: 20px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;

}
.watch2{
     color: rgba(255, 255, 255, 0.658);
    margin-left: 10px;
    font-size: 18px;
     font-family: Arial, Helvetica, sans-serif;

}
.watch3{
     background-image: url(icons8-telescope-48.png);
     background-size:contain;
     background-repeat: no-repeat;
     margin-top:60px;
     margin-left: 175px;
     height: 40px;
     width: 70px;
}
.kid{
    color: #ffffff;
    font-weight: bolder;
    margin-left: 20px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;

}
.kid2{
     color: rgba(255, 255, 255, 0.658);
    margin-left: 10px;
    font-size: 18px;
     font-family: Arial, Helvetica, sans-serif;

}
.kid3{
     background-image: url(icons8-kids-64.png);
     background-size:contain;
     background-repeat: no-repeat;
     margin-top:25px;
     margin-left: 175px;
     height: 40px;
     width: 70px;
}
.movies11{
     display:inline-block;
     
    height: 1400px;
    width: 1400px;
     background: linear-gradient(
     to top,
    rgba(43, 46, 226, 0.164),
    rgb(0, 0, 0)
    );

 color:white;
    
    font-size: 30px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-direction: column;
}
.ques{
     color:white;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.netflix{
    display: flex;
    background-color: rgba(128, 128, 128, 0.329);
    height:80px;
    width:1000px;
    margin-left: 30px;
    color: #ffffff;
    margin-top: 30px;
    justify-content: space-between;
}
.why{
    margin-left: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    font-size: 23px;
}
.why2{
    margin-left: 350px;

    color: #ffffff;
    font-weight: bolder;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 30px;

}
.netflix2{
  display: flex;
    background-color: rgba(128, 128, 128, 0.329);
    height:80px;
    width:1000px;
    margin-left: 30px;
    color: #ffffff;
    margin-top: 30px;
    justify-content: space-between;
}
.how{
    margin-left: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    font-size: 23px;
}
.how2{
    margin-left: 350px;
    color: #ffffff;
    font-weight: bolder;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 30px;


}
.netflix3{
  display: flex;
    background-color: rgba(128, 128, 128, 0.329);
    height:80px;
    width:1000px;
    margin-left: 30px;
    color: #ffffff;
    margin-top: 30px;
    justify-content: space-between;
}
.where{
    margin-left: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    font-size: 23px;
}
.where2{
    margin-left: 350px;
    color: #ffffff;
    font-weight: bolder;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 30px;


}
.netflix4{
  display: flex;
    background-color: rgba(128, 128, 128, 0.329);
    height:80px;
    width:1000px;
    margin-left: 30px;
    color: #ffffff;
    margin-top: 30px;
    justify-content: space-between;
}
.do{
    margin-left: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    font-size: 23px;
}
.do2{
    margin-left: 350px;
    color: #ffffff;
    font-weight: bolder;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 30px;


}
.netflix5{
  display: flex;
    background-color: rgba(128, 128, 128, 0.329);
    height:80px;
    width:1000px;
    margin-left: 30px;
    color: #ffffff;
    margin-top: 30px;
    justify-content: space-between;
}
.what{
    margin-left: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    font-size: 23px;
}
.what2{
    margin-left: 350px;
    color: #ffffff;
    font-weight: bolder;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 30px;


}
.netflix6{
  display: flex;
    background-color: rgba(128, 128, 128, 0.329);
    height:80px;
    width:1000px;
    margin-left: 30px;
    color: #ffffff;
    margin-top: 30px;
    justify-content: space-between;
}
.good{
    margin-left: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    font-size: 23px;
}
.good2{
    margin-left: 350px;
    color: #ffffff;
    font-weight: bolder;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 30px;


}
.ready{
    font-size: 15px;
    color: #ffffff;
    font-family: 'Lucida Sans';
    display: flex;
    text-align: center;
    margin-top: 80px;
    justify-content: space-evenly;
}
.kgf2{
display: flex;
justify-content: center;
margin-top: 30px;
}
.movie5{
    display: flex;
   font-size: 20px;
    height:50px;
    margin-top: 20px;
    width:450px;
     flex-direction: column;
    background-color: #00000071;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    
}
.movie6{
        display:flex;
         margin-top: 20px;
    height: 55px;
    width:100px;
    color: #ffffff;
    background-color: red;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    
    align-items: center;
    align-content: center;

    
}
.no{
     color:white;
    margin-top: 30px;
    font-size: 15px;
    margin-left: 50px;
    font-family: "Times";
}

    
    .yes{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    
        
    }

.faq{

    color:white;
     margin-top: 60px;
    font-size: 15px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.helpcenter{

    color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.investorrelations{

    color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.privacy{

    color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.speedtest{

    color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.account{

    color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.mediacenter{

    color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.yes2{
     display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    

}
.jobs{
color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.waytowatch{
color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 150px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.term{
color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
    .use{
    color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    }

.yes3{
     display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    

}
.privacy{
color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.cookieprefrences{
color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.corporateinformation{
color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.contactus{
color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.yes4{
     display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    

}
.speedtest{
color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.legal{
color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.onlyon{
color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.lop{
color:white;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
/reacts{
    border-radius: 15%;
    border: 2px solid white;
    height: 30px;
    width: 60px;
    display: flex;
    margin-left: 90px;
margin-top: 20px;
color: aliceblue;
font-weight: bold;
font-size: 2;
margin-left: 800px;
}
select[name="languages"]{
    background-color: #000000;
    color:#ffffff;
    width: 20px;
    display: flex;
    justify-content: flex-end;
}
.input{
    display:flex;
    height:40px;
    width:80px;
    color: #ffffff;
    font-weight: bold;
    background-color: red;
    text-align: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 15px;
}
